<section class="comment-container">
<div class='comm-card'>
<h1 class="mx-auto mt-5 w-25">New Post</h1>
<%= form_with(model: post, url: { action: "create" }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> Unable to save this post</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class='input-container'>
<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "comment-form-2" %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, class: "comment-form-2"%>
  </div>

  <div class="actions">
    <%= form.submit class: "see-all"%>
  </div>
</div>
  
<% end %>
</div>
</section>