<section class="w-50 mx-auto my-5">

<%= form_with(model: post, url: { action: "create" }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> Unable to save this post</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title,  class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark my-3"%>
  </div>
<% end %>

</section>