<section class="user-details">
<section class='user-section-card'>
<div class="user-img"><img src="<%= @user.photo %>" alt="user_photo"></div>
<div class="user-card">
  <div class="user-card__name">
  <h1><%= @user.name %><h1>
  </div>
  <div class="user-card__email">
  <p>Number of posts:<%= @user.posts.length %> </p>  
  </div>
</section>

<% @post.each_with_index do |post,index| %>
  <section class='user-section-card'>
  <div class="user-card comment-card">
    <div class="user-card__name">
      <h3> Post #<%= index+1 %> </h3>
      <h4><%= post.text %></h4>
      <h3>Comments</h3>
      <% @user.comments.each_with_index do |comment,index| %>
        <h4>Comment #<%= index+1 %>:<%= comment.text %></h4>
      <% end %>
    </div>
    <div class="comment__like">
    <p>Comments:<%= @user.comments.length %> </p>  
    <p>Likes:<%= @user.likes.length %> </p>  
    </div>
  </section>
<% end %>
 <%# <%= link_to 'See all posts', user_posts_path(@user.id), class: "see-all" %> %>
 <p class="copy-right">© 2022 GitHub, Inc. Terms</p>
</section>